@charset "UTF-8";
body{
	margin: 15px;
	padding: 10px;
	background-image: linear-gradient(120deg, #fdfbfb 0%, #ebedee 100%);
	background-blend-mode: soft-light,screen;
	font-family: 'Times New Roman', Times, serif;
	color: midnightblue;
	text-transform: capitalize;
}
h1{
	font-family: Time New Roman;
	text-align: center;
	text-transform: uppercase;
	text-transform: uppercase;
    text-shadow: 3px 3px 3px rgb(83, 83, 83);
    font-size: 50px;
    color: Black;
	
}
input{
	border: 1px solid black;
}
tr, td{
	border: 1px solid black;
	padding: 10px;
	width: auto;
	background-color:white;
	
}

table {
	border: 0.5px solid black;
	padding: 2px;
	width: 100%;
}

th{
	border: 1px solid black;
	padding: 10px;
	width: auto;
	background-color: rgb(206, 206, 206);
	color: black;
}

footer {
    background-image: linear-gradient(to top, #6a85b6 0%, #bac8e0 100%);
   position: fixed;
    overflow:auto;
    left: 0;
    bottom: 0;
    width: 100%;
    text-align: center
    } 
    
.blacktopline{
    height: 20px;
    background-color: lightslategray;
} 

/* RESPONSIVE & MEDIA */
.responsive {
    max-width: 100%;
    height: auto;
    position: center;
}  

