@charset "UTF-8";
body{
	margin: 15px;
	padding: 10px;
	background-color: #DCD9D4; 
	background-image: linear-gradient(120deg, #fdfbfb 0%, #ebedee 100%);
	background-blend-mode: soft-light,screen;
	font-family: 'Times New Roman', Times, serif;
	color: midnightblue;
	text-transform: capitalize;
}
h1{
	font-family: Time New Roman;
	text-align: center;
	text-transform: uppercase;
    text-shadow: 3px 3px 3px rgb(83, 83, 83);
    font-size: 50px;
    color: Black;
	
}
input{
	border: 1px solid black;
}


