@charset "UTF-8";
body{
	margin: 15px;
	padding: 10px;
	background-color: #DCD9D4; 
	background-image: linear-gradient(120deg, #fdfbfb 0%, #ebedee 100%);
	background-blend-mode: soft-light,screen;
	font-family: 'Times New Roman', Times, serif;
	color: midnightblue;
	text-transform: capitalize;
}
h1{
	font-family: Time New Roman;
	text-align: center;
	text-transform: uppercase;
    text-shadow: 3px 3px 3px rgb(83, 83, 83);
    font-size: 50px;
    color: Black;
	
}

tr, th, td{
	
	padding: 5px;
	
}

table {
	border: 0.5px solid black;
	padding: 5px;
	background-color: white; 
	border-radius: 10px 10px 10px 10px;
    box-shadow: 5px 5px 5px rgb(190, 190, 190);
	
}